/* CSS Comment */
body {
   color:red;
}

main article .underline {
    border-bottom: 1px solid green;
}

main .underline {
    border-bottom: 1px solid red
}


p {
    font-style: italic;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

aside p {
    font-weight: bold;
}

.big {
    font-size: 125%;
}

#small {
    font-size: 50%;
}

/* LVHA */
a:link {
    color: green;
}

a:visited {
    color: red;
}

a:hover {
    color: orange;
}

a:active {
    color: black;
}